@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<WebBanco.Models.Sucursal>
@{
    ViewBag.Title = "Mis Sucursales";

}

<br /><br />

<div class="container-fluid">
    <div>
        <a class="btn btn-primary" href="~/Sucursal/create">Nuevo</a>
    </div>
    <table class="table">
        <tr class="btn-primary">
            <th style="text-align:center">Item</th>
            <th style="text-align:center">Banco</th>
            <th style="text-align:center">Sucursal</th>
            <th style="text-align:center">Direccion</th>
            <th style="text-align:center">Fecha Registro</th>
            <th style="text-align:center" colspan="2">Opciones</th>
        </tr>
        @{int index = 1; }
        @foreach (var suc in Model)
        {
            <tr>
                <td>@index.ToString()</td>
                <td>@suc.NombreBanco</td>
                <td>@suc.Nombre</td>
                <td>@suc.Direccion</td>
                <td>@suc.FechaRegistro</td>
                <td><a class="btn btn-primary" href="~/Sucursal/edit/@suc.IdSucursal">Actualizar</a></td>
                <td><a class="btn btn-danger" href="~/Sucursal/delete/@suc.IdSucursal">Eliminar</a></td>
            </tr>
            { index = index + 1; }
        }

    </table>

</div>

